# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Virtual Environment
.venv/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Local user data
user_data/

# Logs
*.log